[Unit]
Description=play-mqtt-daemon
After=network.target

[Service]
ExecStart=/bin/bash -c "cd /home/pi/zev/play-mqtt-daemon && ./main"
Restart=on-failure
RestartSec=30s
Type=simple

[Install]
WantedBy=multi-user.target
